{% extends "base.html" %}
{% load index %}

{% block content %}



<hr />
<form action="{% url 'survey:patient-response-submit' %}"  method="post">
 {% csrf_token %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Fill Survey</h1>
    <div class="flex flex-wrap -m-4">
      
      {% for i in iterateover %}  
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <a class="inline-flex items-center">
            <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center" />
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-xgray-900">{{question|index:i}}</span>
              <input type="text" id="{{id|index:i}}" name="response" placeholder="type here.." class="title-font font-medium text-gray-900"></input>
              <input type="hidden" value="{{id|index:i}}" name="id" class="title-font font-medium text-gray-900"></input>
              <input type="hidden" value="{{res_id}}" name="res_id" class="title-font font-medium text-gray-900"></input>
              {% comment %} id="{{id|index:i}}" {% endcomment %}
              {% comment %} <span class="title-font font-medium text-gray-900">{{type.description}}</span> {% endcomment %}
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br/>
    <div>
      <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
        <div type="submit"> Submit</div>
      </button>
    </div>
  </div>
</section>
</form>
{% endblock content %}
